@model Categoria
@{
    ViewData["Title"] = "Categorias";
    ViewData["SubTitle"] = "Editar";
 }
 @section Scripts {
    <partial name="_ValidationScriptsPartial"/>

 }
 <nav aria-label="breadcrum">
    <ol class="breadcrum small">
        <li class="breadcrum-item"><a class="text-decpration-none" title="Regresar al listado" asp-action="Index">Listado</a></li>
        <li class="breadcrum-item active" aria-current="page">@ViewData["SubTitle"]</li>
    
    </ol>
 </nav>

 <h2 class="text-center mb-3">@ViewData["Title"] <small class="text-muted fs-5">@ViewData["SubTitle"]</small></h2>

 <form asp-action="Editar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card mt-3">
        <div class="card-body small">
            <div class="from-floating mb-3">
                <input asp-formaction="CategoriaId" placeholder="CategoriaId" readonly class="form-control-plaintext"/>
                <label asp-formaction="CategoriaId" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Nombre" placeholder="Nombre"class="form-control"/>
                <label asp-formaction="Nombre"  class="form-label"></label>
                <span asp-validation-formaction="Nombre" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="text-center mt3">
        <button id="btnEnvisr" type="submit" class="btn btn.sm btn-danger">Guardar</button>
        <a class="btn btn-sm btn-outline-secondary" asp-action="Index" title="Cancelar">Cancelar</a>
    </div>
 </form>