@{
    ViewData["Title"] = "pagina principal";

}

<div class="fondo h-100">
    <div class="card text-center bg-transparent border-0">
        <h1 class="card-header bg-transparent border-0 text-danger">Netflix</h1>
        <div class="card-body">
            <h2 class="display-5  card-title">Peliculas y series ilimitados y mucho mas</h2>
            <p class="card-text lead fw-semibold">Disfruta donde quieras. Cancela cuando quieras</p>
            <p class="card-text lead">¿Quieres ver Netflix ya? Presiona el siguiente boton para iniciar la experiencia
                en Netflix </p>
                @if (User.Identity?.IsAuthenticated == true)
                {
                    <a asp-controller="Peiculas" class="btn btn-danger">Ver catalogo de Peliculas</a>
                }
                else
                {
                    <a asp-controller="Auth" class="btn btn-danger">Comnezar</a>
                }
        </div>
    </div>
</div>