@model AuthUser
@{
    ViewData["Title"] = "Archivos";
    ViewData["SubTitle"] = "Listado";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb samml">
        <li class="breadcrum-item acive" aria-current="page">@ViewData["SubTitle"] </li>
    </ol>
</nav>
<h2 class="text-center mb-4">@ViewData["Title"]</h2>

<div class="mt-5">
    <div class="alert añert-warring" role="alert">
        
    </div>
</div>